<%- include('../partials/header') %>

  <ul>
    <% skills.forEach(function(s) { %>
      <li>
        <a href="/skills/<%= s.id %>"><%= s.skill %></a>
          - 
        <%= s.acquired ? 'acquired' : 'not acquired' %>
      </li>
    <% }); %>
  </ul>

  <%- include('../partials/footer') %>